.tile {
  z-index: 0;
  position: relative;
  display: inline-block;
  float: none;
  margin: 1.5%;
  padding: 0;
 /* max-width: 46.5%;*/
  
  width: 100%;
  text-align: center;
  background: #eee;
  overflow: hidden;
  transition: -webkit-transform 0.2s cubic-bezier(0.625,0.125,0.305,0.875);
  transition: transform 0.2s cubic-bezier(0.625,0.125,0.305,0.875);
  transition: transform 0.2s cubic-bezier(0.625,0.125,0.305,0.875),-webkit-transform 0.2s cubic-bezier(0.625,0.125,0.305,0.875);
}
.tile:hover, .tile:focus {
  box-shadow: 0 10px 40px rgba(0,0,0,0.1);
}
.tile-quad {
  max-width: 500px;
  
}
.tile figure {
  z-index: 0;
  margin: 0;
  position: absolute;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  transition: all 1.5s cubic-bezier(.190, 1.000, .220, 1.000);
  -webkit-transition: all 1.5s cubic-bezier(.190, 1.000, .220, 1.000);
  -moz-transition: all 1.5s cubic-bezier(.190, 1.000, .220, 1.000);
  -ms-transition: all 1.5s cubic-bezier(.190, 1.000, .220, 1.000);
  -o-transition: all 1.5s cubic-bezier(.190, 1.000, .220, 1.000);
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
}
.tile:hover figure, .tile:focus figure { 
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.tile a {
  display: table;
  position: relative;
  float: left;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  /*  background: rgba(0,0,0,.5); */
  transition: all .25s;
}
/* .tile a:hover, .tile a:focus {
  background: rgba(0, 0, 0, 0.6);
} */
/*.tile a:hover p, .tile a:focus p {
  color: #fff;
  transition: all .25s;
}*/
.tile a div {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding: 0 2rem;
}
.tile h3 {
  margin: 0 auto;
  font-size: 2rem;
  color: #fff;
  padding: 0 0 1rem;
  line-height: 1;
}
.tile p {
  margin: 0 auto;
  color: #fff;
  font-size: 1.15rem;
  font-weight: 400;
  line-height: 1.2;
  width: auto;
  transition: opacity 0s, max-height 0s;
}

.tile a:hover p, .tile a:focus p {
  color: #fff;
  transition: all .5s;
}

/*.tile a:hover p, 
.tile a:focus p {
  opacity: 1; 
  max-height: 999px; 
  transition: opacity 1s, max-height 1s;
}*/

/*.tile h3:after {
  content: '';
  position: absolute;
  left: 2.8rem;
  margin: 64px auto;
  width: 0px;
  height: 2px;
  background: #fff;
  -webkit-transition: width 0.6s;
  transition: width 0.6s;
  opacity: 0;
}
.tile a:hover h3:after, .tile a:focus h3:after {
  width: 64px;
  opacity: 1;
}*/

.color-red {
  background: rgba(255, 60, 78, 0.76);
}
.color-yellow {
  background: rgba(255, 185, 29, 0.76);
}
.color-green {
  background: rgba(35, 226, 94, 0.76);
}
.color-blue {
  background: rgba(49, 122, 255, 0.76);
}
.color-purple {
   background: rgba(225, 60, 255, 0.76);
}
.color-aqua {
   background: rgba(48, 228, 212, 0.76);
}

@media screen and (max-width: 700px) {
  .tile,
  .tile:nth-child(2),
  .tile:nth-child(4),
  .tile:nth-child(6),
  .tile:nth-child(8) {
    max-width: 100%;
  }
